<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar style="width:320;height:377" class="example-header-image"></div>
    <mat-card-title>Plantique</mat-card-title>
    <mat-card-subtitle>Social media for those who love plants!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image style="width:750;height:600" src="/assets/plant.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      We Can Serve A Better Life To Our New Generation By Planting Trees. Start Planting Trees. 
      This Is True Of Our Life That We Are Nothing Without Nature. Make Nature Better By Trees
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<br>
<br>


<mat-card class="example-card">
<mat-card-header>
  <div mat-card-avatar style="width:320;height:377" class="example-header-image"></div>
  <mat-card-title>Plantique</mat-card-title>
  <mat-card-subtitle>Social media for those who love plants!</mat-card-subtitle>
</mat-card-header>
<img mat-card-image style="width:750;height:600" src="/assets/plant2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Any kind of tree that needs "well-drained soil" is at risk to drown within two years if it's planted in compacted and clay-type soils — those that are poorly drained. Instead, plant tree varieties that are adapted to poor drainage — hardy plants that don't specifically need "well-drained soil." Or else rebuild the soil in a very large rooting area for your tree by working lots of organic material into the top 12 inches of dirt;
     or bring in better soil from somewhere else and create a large planting mound out of ft.
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>LIKE</button>
  <button mat-button>SHARE</button>
</mat-card-actions>
</mat-card>

<br>
<br>