.example-card {
    max-width: 390px;
  }
  
  .example-header-image {
    background-image: url('/assets/leaf.webp');
    background-size: cover;
  }

  .light
  {
    color:green;
    background-color: white;
  }

  .corner{
    position:absolute;
    top:10px;
    right:0;
   }

   .colors
   {
     background-image: url('/assets/bg1.jpg');
     height:40px;
   }

   .active {
    background: #9BF59B;
}